{# src/Crm/WebsiteBundle/Resources/views/Page/project.html.twig #}
{% extends 'WebsiteBundle::layout.html.twig' %}
{% block body %}

<div class="centre">
   <div class="container">
       <header class="error-status__header">
            <h1 class="error-status__title">Comming Soon !</h1>
            <h2 class="error-status__headline">This page is under construction .</h2>
       </header>
   </div>
</div>
{% endblock %}