{% extends 'base.html.twig' %}



{% block body %}

{% block page_content %}
<body class="page-body login-page">

	
	<div class="login-container">
	
		<div class="row">
	
			<div class="col-sm-6">
	
				<script type="text/javascript">
					jQuery(document).ready(function($)
					{
						// Reveal Login form
						setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
	
	
						// Validation and Ajax action
						$("form#login").validate({
							rules: {
								username: {
									required: true
								},
	
								passwd: {
									required: true
								}
							},
	
							messages: {
								username: {
									required: 'Please enter your username.'
								},
	
								passwd: {
									required: 'Please enter your password.'
								}
							},
	
							
						});
	
						// Set Form focus
						$("form#login .form-group:has(.form-control):first .form-control").focus();
					});
				</script>
	
				<!-- Errors container -->
				<div class="errors-container">
	
					
				</div>
				{% block content %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
		{% endblock %}
				
	
			</div>
	
		</div>
	
	</div>
	
		



    {% block javascripts %}
        {{parent()}}
        <script src="{{asset('assets/js/jquery-validate/jquery.validate.min.js')}}"></script>
    {% endblock %}
</body>
{% endblock %}
{% endblock %}
